ul.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0;
    list-style: none;
    background-color: #FFFFFF;
}

.breadcrumb ul {
    display: flex;
}
    
.breadcrumb li::before {
    content: ">";
    padding: 0 10px;
}
    
.breadcrumb li:first-child::before {
    content: "";
    padding: 0;
}

.breadcrumb li a {
    color: #4D4D4D;
    font-size: 13px;
}

.breadcrumb.breadcrumb-wrapper {
    max-width: 1240px;
    margin: 1rem auto;
}