.product-container {
    display: flex;
    gap: 40px;
    padding-bottom: 68px;
}

.product-container.thumbnail-left {
    gap: 20px;
}

.product-slider {
    margin-top: 10px;
    max-width: 485px;
}

.slider img{
    max-width: 485px; 
}

.thumbnail-left .product-slider {
    display: flex;
    flex-direction: row-reverse;
    max-width: 505px;
    gap: 10px;
}

.thumbnail-left .product-thumbnails {
    margin: 0;
    padding: 0;
    display: unset;
}

.thumbnail-left .slider img{
    max-width: 422px; 
    max-height: 422px;
}


.product-calculator-wrapper {
    width: 295px;
}


.product-calculator {
    padding: 30px;
    background-color: #F1FAF0;
    border-radius: 5px;
}

.thumbnail-left .product-info {
    width: 400px;
}

.thumbnail-left .product-calculator .product-price {
    margin-top: 0;
}

.thumbnail-left .product-social-icon {
    position: unset;
}

.thumbnail-left .product-service {
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #F0F2F5;
    border-top: 1px solid #F0F2F5;
    margin: 25px 0;
}

.slider-item {
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-left .slider-item {
    height: 422px;
}

.product-thumbnails {
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.product-thumbnails li {
    list-style-type: none;
    width: 73px;
    height: 73px;
    cursor: pointer;
}

.product-thumbnails li.tns-nav-active {
    border: 2px solid var(--green-color);
    border-radius: 5px;
}

.product-thumbnails img {
    height: 100%;
    width: 100%;
}

.product-info {
    width: 100%;
    position: relative;
}

.product-brand-name {
    font-size: 13px;
}

.product-name {
    font-size: 35px;
    font-weight: 500;
    color: var(--text-color-2);
    margin: 10px 0;
}

.product-social-icon {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 10px;
}

.product-social-icon a {
    text-decoration: none;
}

.product-social-icon i {
    font-size: 14px;
}

.product-social-icon a {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
}

.product-social-icon .icon-facebook {
    color: var(--white-color);
    background-color:#4267B2;
}

.product-social-icon .icon-twitter{
    color: var(--white-color);
    background-color:#55ACEE;
}

.product-social-icon .icon-pinterest {
    color: var(--white-color);
    background-color:#CB2027;
}

.product-social-icon .icon-share {
    color: var(--white-color);
    background-color:#95D03A;
}

.product-rating {
    display: flex;
    gap: 14px;
    align-items: center;
}

.product-star {
    margin-top: 4px;
}

.product-star i{
    color: var(--orange-color);
    font-size: 13px;
}

.product-review {
    font-size: 13px;
}

.product-service {
    display: flex;
    gap: 44px;
    padding: 26px 0;
    border-bottom: 1px solid #F0F2F5;
}

.product-service li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-service li img {
    width: 26px;
    height: auto;
}

.product-service li span {
   font-size: 15px;
   color: var(--text-color-3);
}

.product-price {
    margin: 25px 0;
}

.product-price--current {
    color: var(--green-color);
    font-size: 36px;
    font-weight: 600;
}

.product-price--old {
    font-size: 26px;
    color: var(--text-color-4);
    margin-left: 5px;
    text-decoration: line-through;
}

.product-size h5 {
    font-size: 14px;
    color: var(--text-color-3);
}

.product-size__list {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 0;
}

.product-size__list li {
    list-style: none;
    padding: 2px 18px;
    border: 1px solid #F0F2F5;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    color: var(--text-color-3);
    cursor: pointer;
}

.thumbnail-left .product-size__list li {
    padding: 2px 14px;
    background-color:#FFFFFF;
}

.product-size__list li.active {
    border: 2px solid var(--green-color);
    border-radius: 5px;
}

.product-quantity {
    height: 46px;
    display: flex;
}

.product-quantity input[type=number] {
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    font-size: 15px;
    text-align: center;
}

.thumbnail-left .product-quantity input[type=number] {
    background-color: #FFFFFF;
}

.thumbnail-left .product-quantity button {
    background-color: #FFFFFF;
}

/* Chrome, Safari, Edge, Opera */
.product-quantityinput::-webkit-outer-spin-button,
.product-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product-quantity input[type=number] {
  -moz-appearance: textfield;
}

.product-quantity button {
    border: none;
    outline: none;
    height: 46px;
    width: 40px;
}

.product-quantity button.button-minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.product-quantity button.button-plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.stock-count {
    font-size: 14px;
    color: var(--text-color-3);
    margin-bottom: 6px;
}

.stock-number {
    color: #F00000;
    font-weight: 600;
}

.product-submit {
    margin-left: 10px;
}

.thumbnail-left .product-submit {
    margin-left: 0;
}

.product-btn-submit {
    border: none;
    outline: none;
    height: 46px;
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 0 90px;
    border-radius: 5px;
}

.thumbnail-left .product-btn-submit {
    padding: 0 53px;
    margin-top: 10px;
}

.product-btn-submit .text {
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
}

.product-cart {
    display: flex;
    position: relative;
    align-items: center;
}

.thumbnail-left .product-cart {
    flex-direction: column;
    align-items: flex-start;
}

.product-text-link {
    position: absolute;
    right: 0;
    display: flex;
    gap: 20px;
}
 
.thumbnail-left .product-text-link {
    position: unset;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.product-text-link p {
    font-size: 14px;
    color: var(--green-color);
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
}

.product-add-more {
    margin: 25px 0;
    width: 100%;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border: 1px dashed #FE8F17;
    border-radius: 5px;
    cursor: pointer;
}

.add-more-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--orange-color);
}

.thumbnail-left .add-more-text {
    font-size: 12px;
}

.thumbnail-left .product-add-more {
    margin-top: 25px;
    margin-bottom: 5px;
}


.product-tags {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    align-items: center;
}

.product-tags h5 {
    color: var(--text-color-3);
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    width: 36px;
}

.product-tags__list {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.product-tags__list li {
    list-style: none;
    color: var(--text-color-3);
    font-size: 14px;
}

.product-sku {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.product-sku h5 {
    color: var(--text-color-3);
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    width: 36px;
}

.product-sku span{
    font-size: 14px;
    color: var(--text-color-3);
}